body{
    margin: 0px;
}

#header_bar{
    display: inline-block;
    height: 20%;
    padding: 10px 5px;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(
        rgb(35, 44, 80, .4),
        rgb(35, 44, 80, .8));
    background-position: top;
    background-size: cover;
}

#title{
    float: left;
}

#title h1{
    margin: 50px 0px 0px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40;
    color: rgb(161, 80, 0);
}

#title h2{
    margin: 5px 0px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(218, 173, 129);
}

#index_button{
    background-color: rgb(218, 173, 129);
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin: 10px 20px;
}

#index_button:hover{
    background-color: rgb(161, 80, 0);
}

#data_graphs{
    float: left;
}

#graph_instructions{
    width: 100%;
    margin: 10px 5px;
    font-family:'Courier New', Courier, monospace;
}

#data_graphs{
    width: 100%;
}

#data_graphs h4{
    margin: 0px 5px;
}

#curr_weather_buttons, #daily_weather_buttons{
    margin: 15px 0px;
    width: 100%;
    height: 5%;
}

#curr_weather_buttons li, #daily_weather_buttons li{
    list-style-type: none;
    background-color: rgb(218, 173, 129);
    float: left;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#curr_weather_buttons li:hover{
    background-color: rgb(161, 80, 0);
}

#daily_weather_buttons li:hover{
    background-color: rgb(161, 80, 0);
}

#graph{
    height: 400px;
    width: 600px;
    float: left;
    margin: 10px 0px 0px 240px;
}